*,*:before, *:after {
  box-sizing:border-box;
  scroll-behavior: smooth;
}

.body { 
  background-position: center; 
  //overflow-x: hidden;
  overflow-y:scroll;
  max-width: $desktop-width; 
  min-width: 320px;
  width: 100%;
  margin: 0 auto;
  position: relative; 
}
