%transition {
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

%textshadow {
  text-shadow: 1px 2px 4px rgb(80, 80, 80);
  //box-shadow: 0 0 5px 1px rgb(80, 80, 80);
}

%userselect {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10+ and Edge */
  user-select: none; /* Standard syntax */
  -moz-user-select: none;
  -khtml-user-select: none;

  -webkit-touch-callout: none;  
  -webkit-tap-highlight-color: transparent; 
}