// card
$card-border-color:  rgb(241, 238, 226);
$card-back-main-color: rgb(136, 182, 238);
$card-back-gradient1-color: rgb(115, 170, 243);
$card-back-gradient2-color: rgb(143, 187, 245);
$card-back-gradient3-color: rgb(180, 208, 245);
$card-back-gradient4-color: rgb(68, 137, 221);
$card-back-accent-color: rgb(68, 137, 221);

$card-front-main-color: rgb(158, 236, 202);
$card-front-gradient1-color: rgb(86, 231, 139);
$card-front-gradient2-color: rgb(126, 250, 163);
$card-front-gradient3-color: rgb(166, 253, 192);
$card-front-gradient4-color: rgb(60, 214, 107);
$card-front-accent-color: rgb(60, 214, 107);

$card-text-color: rgb(241, 238, 226);
$card-text-size: 35px;