// card
$card-border-color:  rgb(241, 238, 226);
$card-back-main-color: rgb(136, 182, 238);
$card-back-gradient1-color: rgb(115, 170, 243);
$card-back-gradient2-color: rgb(143, 187, 245);
$card-back-gradient3-color: rgb(180, 208, 245);
$card-back-gradient4-color: rgb(68, 137, 221);
$card-back-accent-color: rgb(68, 137, 221);

$card-front-main-color: rgb(158, 236, 202);
$card-front-gradient1-color: rgb(86, 231, 139);
$card-front-gradient2-color: rgb(126, 250, 163);
$card-front-gradient3-color: rgb(166, 253, 192);
$card-front-gradient4-color: rgb(60, 214, 107);
$card-front-accent-color: rgb(60, 214, 107);

$card-failure-gradient1-color: rgb(247, 46, 46);
$card-failure-gradient2-color: rgb(255, 72, 72);
$card-failure-gradient3-color: rgb(255, 107, 107);
$card-failure-gradient4-color: rgb(255, 19, 19);

$card-text-color: rgb(241, 238, 226);
$card-name-size: 26px;
$card-category-size: 26px;

$header-color: rgb(241, 238, 226);
$header-accent-color : $card-back-accent-color;

$header-color1: rgb(60, 60, 60);
$desktop-width: 1400px;
//$tablet-width: 768px;
$mobile-width: 768px;