@import "fonts.css";

body {
  margin: 0 auto;
  max-width: 900px;
  font-family: "Roboto", sans-serif;
}
.wrapper {
  width: 100%;
  padding: 0 40px;  

}
.logo {
  text-align: center;
  margin: 0 auto;
}

.logo-image {
  background-image: url("../assets/images/star-win.svg");  
  width: 200px;
  height: 200px;
  margin: 0 auto;
  background-size:cover;
}