<template class="menu-card-template">
  <div class="card-container">
    <div id="card" class="card">
      <div class="face face__back">              
        <div class="card__bump-container">
          <div class="card__bump-image">
            <div class="bump-image"></div>
          </div>
        </div>
        <div class="card__category">
          <span id="category-en" class="category-name">Category</span>
        </div>
        <div class="card__image-container">
          <img id="img-back" class="card__image" src="assets/images/default.png" alt="card">
        </div>
        <div class="card__name-container">
          <span id="category-ru" class="caregory-name_ru">Категория</span>
        </div>
      </div>            
    </div>
  </div>      
</template>