<template class="word-card-template">
  <div class="card-container">
    <div id="card" class="card">

      <div class="face face__back">
        <div class="rotate-image-container">
          <div class="rotate-image"></div>
        </div>
        <div class="card__bump-container">
          <div class="card__bump-image">
            <div class="bump-image"></div>
          </div>
        </div>
        <div class="card__category">
          <span id="category-en" class="category-name">Category</span>
        </div>
        <div class="card__image-container">
          <img id="img-back" class="card__image" src="assets/images/default.png" alt="card">
        </div>
        <div class="card__name-container">
          <span id="word-en" class="card__name">Name</span>
        </div>
      </div>
      <div class="face face__front">
        <div class="rotate-image-container">
          <div class="rotate-image"></div>
        </div>
        <div class="card__bump-container">
          <div class="card__bump-image">
            <div class="bump-image"></div>
          </div>
        </div>
        <div class="card__category">
          <span id="category-ru" class="category-name">Категория</span>
        </div>
        <div class="card__image-container">
          <img id="img-front" class="card__image" src="assets/images/default.png" alt="one">
        </div>
        <div class="card__name-container">
          <span id="word-ru" class="card__name">Имя</span>
        </div>
      </div>
    </div>
  </div>
</template>