<template class="word-card-template">
  <div class="card-container">
    <div id="card" class="card">
      <div class="card__face ">          
        <div class="face face__back">
        <div class="card__bump-container">
          <div class="card__bump-image">
            <img class="bump-image" src="assets/images/owl_test.png" alt="owl">
          </div>
        </div>
          <div class="card__category">
            <span class="category-name">Numbers</span>
          </div>
          <div class="card__image-container">
            <img class="card__image" src="assets/images/numbers/zero-1.png" alt="one">
          </div>
          <div class="card__name-container">
            <span class="card__name">One</span>
          </div>
        </div>
      </div>
      <div class="card__face">          
        <div class="face face__front">
        <div class="card__bump-container">
          <div class="card__bump-image">
            <img class="bump-image" src="assets/images/owl_train.png" alt="owl">
          </div>
        </div>
          <div class="card__category">
            <span class="category-name">Цифры</span>
          </div>
          <div class="card__image-container">
            <img class="card__image" src="assets/images/numbers/zero-1.png" alt="one">
          </div>
          <div class="card__name-container">
            <span class="card__name">Один</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>