%hamburger-line {
  display: inline-block;
  position: absolute;
  background-color: $header-color;
  border-radius: 5px;
  width: 100%;
  height: 4px;  
}

.hamburger {
  
  display: block;
  position: absolute;
  top: 30px;
  left: 20px;  
  width: 40px;
  height: 30px;
  z-index: 999;
  @extend %transition;
  @extend %userselect;
  cursor: pointer;
  opacity: 0.7;
  

  &:hover {
    opacity: 1;
    @extend %transition;
  }
  
  &_activated {
    @extend %transition;
    transform: rotate(-90deg);
  }  

  &:before{
    content: '';
    @extend %hamburger-line;
    top:0;
    left: 0;
  }
  &:after{
    content: '';
    @extend %hamburger-line;
    bottom:0;
    left: 0;
  }
  &__line {
    content: '';
    top: calc(50% - 2px);
    left: 0;
    @extend %hamburger-line;
  }
}