%hamburger-line {
  display: inline-block;
  position: absolute;
  background-color: $header-color;
  border-radius: 5px;
  width: 100%;
  height: 4px;  
  //text-shadow: 1px 2px 4px rgb(80, 80, 80);
  box-shadow: 0 0 5px 1px rgb(80, 80, 80);
}

.hamburger {
  
  display: block;
  position: absolute;
  top: 25px;
  left: 20px;  
  width: 50px;
  height: 30px;
  z-index: 999;
  @extend %transition;
  @extend %userselect;
  cursor: pointer;
  opacity: 0.8;
  

  @include media-mobile {
    top: 10px;        
  }


  &:hover {
    opacity: 1;
    @extend %transition;
  }
  
  &_activated {
    @extend %transition;
    transform: rotate(-90deg);
  }  

  &:before{
    content: '';
    @extend %hamburger-line;
    top:0;
    left: 0;
  }
  &:after{
    content: '';
    @extend %hamburger-line;
    bottom:0;
    left: 0;
  }
  &__line {
    content: '';
    top: calc(50% - 2px);
    left: 0;
    @extend %hamburger-line;
  }
}