%hamburger-line {
  display: inline-block;
  position: absolute;
  background-color: $header-color;
  border-radius: 5px;
  width: 100%;
  height: 4px;
  //@extend %transition;
  //text-shadow: 1px 2px 4px rgb(80, 80, 80);
  box-shadow: 0 0 5px 1px rgb(80, 80, 80);
}

.hamburger {
  display: block;
  position: absolute;
  top: 25px;
  left: 20px;
  width: 50px;
  height: 30px;
  z-index: 999;
  @extend %transition;
  @extend %userselect;
  cursor: pointer;
  opacity: 0.8;

  @include media-tablet {
    top: 10px;
  }

  &:hover {
    opacity: 1;
    @extend %transition;
  }

  &:before {
    content: "";
    @extend %transition;
    @extend %hamburger-line;
    top: 0;
    left: 0;
  }
  &:after {
    content: "";
    @extend %transition;
    @extend %hamburger-line;
    bottom: 0;
    left: 0;
  }

  &__line {
    content: "";
    top: calc(50% - 2px);
    left: 0;
    @extend %hamburger-line;    
  }
}

.active.hamburger:before {
  @extend %transition;
  -webkit-transform: rotate(45deg);
  transform: translate(0, 13px) rotate(45deg);
}
.active.hamburger:after {
  @extend %transition;
  -webkit-transform: rotate(-45deg);
  transform: translate(0, -13px) rotate(-45deg);
}
.active {
  .hamburger__line {    
    visibility: hidden;
  }
}
