.side-menu__container {
  //display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  width: 30%;
  min-width: 320px;  
  height: 100%;
  background-color: $card-back-gradient2-color;
  border-left: 10px solid $card-back-gradient4-color;
  @extend %transition;

  &_hidden {
    top: -100vh;
    height: 50px;
    @extend %transition;    
  }

}