.title {
  position: relative;
  display: block;
  font-size: 40px;
  line-height: 40px;
  color: $header-color;
  text-transform: uppercase;
  margin-left: 90px;
  @extend %textshadow;
  user-select: none;
}