.title {
  position: absolute;
  top:20px;
  left: 90px;
  display: inline-block;
  font-size: 40px;
  line-height: 40px;
  color: $header-color;
  text-transform: uppercase;  
  @extend %textshadow;
  user-select: none;
  @extend %transition;   


  @include media-tablet {
    top: 5px;          
  }
  @include media-mobile {
    top: 15px;  
    font-size: 20px; 
    line-height: 20px;    
  }

}
@media (max-width:530px) {
  .title {
    top: 15px;  
    font-size: 20px; 
    line-height: 20px;  
  }
};