.title {
  position: absolute;
  top:20px;
  left: 90px;
  display: inline-block;
  font-size: 40px;
  line-height: 40px;
  color: $header-color;
  text-transform: uppercase;  
  @extend %textshadow;
  user-select: none;
  @extend %transition; 


  @include media-mobile {
    top: 8px;  
    font-size: 24px; 
    line-height: 24px;    
  }

}