.title {
  position: absolute;
  top:20px;
  left: 90px;
  display: inline-block;
  font-size: 40px;
  line-height: 40px;
  color: $header-color;
  text-transform: uppercase;  
  @extend %textshadow;
  user-select: none;
}