.cards-layout, .menu-layout, .result-layout  {
  padding: 110px 0 40px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;

  @include media-tablet {
    padding: 80px 0 80px 0;      
  }

}