.footer {
  display: block;
  z-index: 900;
  position: fixed;
  bottom: 0;
  max-width: $desktop-width;
  min-width: 320px;
  width: 100%;
  
}
.footer-layout {
  min-width: 320px;
  position: relative;
  height: 30px;
  width: 100%;    
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: $card-back-gradient4-color; 
  box-shadow: 0 -15px 10px -10px #838383af;  

  @include media-tablet {
    height: 70px;     
  }

}