.header {
  display: block;
  position: fixed;
  top: 0;
  max-width: $desktop-width; 
  width: 100%;
  z-index: 999;
}

.header-layout {
  position: relative;
  height: 90px;
  width: 100%;  
  padding-top: 10px;
  
  
  @include headerGradient(
    $card-back-gradient1-color,
    $card-back-gradient2-color,
    $card-back-gradient3-color,
    $card-back-gradient4-color);
    
    border-bottom: 20px solid $header-accent-color; 
    box-shadow: 0 20px 10px -10px #838383af;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;

  @include media-mobile {
    padding-top: 5px;
    height: 60px;    
  }

}